<li>
  <a href="https://github.com/SuCicada/Algorithm-PlayGround">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    GitHub
  </a>
</li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
    Community
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="http:../">APG</a>
    </li>
    <li>
      <a href="https://github.com/SuCicada/Algorithm-PlayGround">APG on GitHub</a>
    </li>
    <li>
      <a href="http:../../Examples">APG Examples</a>
    </li>
    <li>
      <a href="">Forum</a>
    </li>
    <li>
      <a href="">Twitter</a>
    </li>
    <li>
      <a href="">Donate</a>
    </li>
  </ul>
</li>
